In [8]:
import mysql.connector
import pandas as pd

In [9]:
mydb= mysql.connector.connect(
  host="localhost",
    port="3306",
  user="root",
  password="",
    database="newdatabase"
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000162BC8AE640>

In [6]:
mycursor=mydb.cursor()

In [9]:
#Order the tuples in the instructors relation as per their salary

query1 = '''CREATE VIEW faculty2 AS
SELECT ID, name, dept_name
FROM instructor'''
mycursor.execute(query1)
mydb.commit()
mycursor.close()